# Plan praktyk:
1. Regresja Liniowa
2. Drzewo decyzyjne
3. Las losowy

Zbiór danych: </br>
https://www.kaggle.com/budincsevity/szeged-weather

## Wczytywanie danych

In [1]:
from pandas import read_csv

In [2]:
dataset = read_csv("dataset/weatherHistory.csv")
dataset.head()

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.

In [3]:
dataset.shape

(96453, 12)

## Oczyszczanie danych

In [4]:
from datetime import datetime

date_format = "%Y-%m-%d %H"
formatted_date = [datetime.strptime(row[:13], date_format).timestamp()
                  for row in list(dataset["Formatted Date"])]

dataset["Formatted Date"] = formatted_date

dataset.head()

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,1.143842e+09,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,1.143846e+09,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,1.143850e+09,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,1.143853e+09,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,1.143857e+09,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.

In [5]:
print("Summary:", len(set((dataset["Summary"].values))))
print("Precip Type:", len(set((dataset["Precip Type"].values))))
print("Daily Summary:", len(set((dataset["Daily Summary"].values))))

Summary: 27
Precip Type: 3
Daily Summary: 214

One hot encoding

<img src="images/split_column.png">

In [6]:
del dataset["Summary"]
del dataset["Daily Summary"]
dataset.head()

,Formatted Date,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars)
0,1.143842e+09,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13
1,1.143846e+09,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63
2,1.143850e+09,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94
3,1.143853e+09,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41
4,1.143857e+09,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51

In [7]:
from pandas import get_dummies, concat

new_columns = get_dummies(dataset["Precip Type"])
new_columns.head()

   rain  snow
0     1     0
1     1     0
2     1     0
3     1     0
4     1     0

In [8]:
del dataset["Precip Type"]
dataset = concat([dataset, new_columns], axis=1)

dataset.head()

,Formatted Date,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),rain,snow
0,1.143842e+09,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,1,0
1,1.143846e+09,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,1,0
2,1.143850e+09,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,1,0
3,1.143853e+09,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,1,0
4,1.143857e+09,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,1,0

## Dziurawe dane

<img src="images/fillna.png">

## Zamiana tekstu na liczby (nie w przypadku regresji)

<img src="images/labels.png">

## Przygotowywanie danych (zbiór treningowy i testowy)

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
y = dataset.pop("Temperature (C)")
dataset.head()

,Formatted Date,Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),rain,snow
0,1.143842e+09,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,1,0
1,1.143846e+09,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,1,0
2,1.143850e+09,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,1,0
3,1.143853e+09,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,1,0
4,1.143857e+09,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,1,0

In [11]:
X_train, X_test, y_train, y_test = train_test_split(dataset, y, test_size=0.2)
y_test = list(y_test)
X_test

,Formatted Date,Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),rain,snow
775,1.155272e+09,16.022222,0.81,12.3809,299.0,11.2056,0.0,1007.98,1,0
37317,1.265054e+09,-11.066667,0.92,6.2146,239.0,11.9784,0.0,1015.56,0,1
12042,1.169572e+09,5.411111,0.93,8.5652,49.0,7.0357,0.0,1005.07,1,0
63375,1.388326e+09,10.788889,0.63,8.1949,321.0,6.2951,0.0,1019.24,1,0
531,1.144026e+09,7.788889,0.93,6.2951,80.0,11.6725,0.0,1014.81,1,0
...,...,...,...,...,...,...,...,...,...,...
44290,1.303805e+09,17.072222,0.45,8.9677,82.0,9.9820,0.0,1016.19,1,0
94616,1.479812e+09,4.161111,0.79,14.0714,176.0,8.7423,0.0,1019.28,1,0
53886,1.346299e+09,12.666667,0.84,3.2200,30.0,9.9820,0.0,1019.04,1,0
80394,1.449000e+09,5.855556,0.75,20.4309,290.0,16.1000,0.0,1023.28,1,0
29161,1.234051e+09,0.394444,0.84,17.4041,248.0,15.1501,0.0,997.55,1,0

## Funkcje miar jakości modeli

In [12]:
def get_mse(y_test: list[float], y_predicted: list[float]) -> float:
    mse = 0
    for index in range(len(y_test)):
        y = y_test[index]
        y_pred = round(float(y_predicted[index]), 2)
        residual = round(y - y_pred, 2)

        mse += residual**2

    mse /= len(y_test)
    return mse


def get_rmse(mse: float) -> float:
    rmse = mse ** (1/2)
    return rmse


def get_mae(y_test: list[float], y_predicted: list[float]) -> float:
    mae = 0
    for index in range(len(y_test)):
        y = y_test[index]
        y_pred = float(y_predicted[index])
        residual = y - y_pred

        mae += abs(residual)

    mae /= len(y_test)
    return mae


def get_r2(y_test: list[float], y_predicted: list[float]) -> float:
    y_avg = sum(y_test)/len(y_test)
    numerator = 0
    denominator = 0
    for index in range(len(y_test)):
        y = y_test[index]
        y_pred = float(y_predicted[index])

        numerator += (y_pred - y_avg)**2
        denominator += (y - y_avg)**2

    r2 = numerator / denominator
    return r2

# 1. Regresja liniowa

In [13]:
from sklearn.linear_model import LinearRegression

In [14]:
regression = LinearRegression()
regression.fit(X_train, y_train)
y_predicted = regression.predict(X_test)

In [15]:
mse = get_mse(y_test, y_predicted)
rmse = get_rmse(mse)
mae = get_mae(y_test, y_predicted)
r2 = get_r2(y_test, y_predicted)

print("MSE =", mse)
print("RMSE =", rmse)
print("MAE =", mae)
print("R2 =", r2)

MSE = 0.8961098284173894
RMSE = 0.946630777239674
MAE = 0.7378781076856663
R2 = 0.9868985271641374

# 2. Drzewo decyzyjne

In [16]:

from sklearn.tree import DecisionTreeClassifier, plot_tree, DecisionTreeRegressor

In [17]:
decision_tree = DecisionTreeRegressor()
decision_tree.fit(X_train, y_train)
y_predicted = decision_tree.predict(X_test)

In [18]:
mse = get_mse(y_test, y_predicted)
rmse = get_rmse(mse)
mae = get_mae(y_test, y_predicted)
r2 = get_r2(y_test, y_predicted)

print("MSE =", mse)
print("RMSE =", rmse)
print("MAE =", mae)
print("R2 =", r2)

MSE = 0.005656306049453256
RMSE = 0.07520841741090725
MAE = 0.022070453118612172
R2 = 0.9998719301369813

In [19]:
decision_tree.get_depth()

35

# 3. Las losowy

In [20]:
from sklearn.ensemble import RandomForestRegressor

In [21]:
random_forest = RandomForestRegressor()
random_forest.fit(X_train, y_train)
y_predicted = random_forest.predict(X_test)

In [22]:
mse = get_mse(y_test, y_predicted)
rmse = get_rmse(mse)
mae = get_mae(y_test, y_predicted)
r2 = get_r2(y_test, y_predicted)

print("MSE =", mse)
print("RMSE =", rmse)
print("MAE =", mae)
print("R2 =", r2)

MSE = 0.0018751075631123332
RMSE = 0.04330251220324675
MAE = 0.012136871540564064
R2 = 0.9999465551630357

In [23]:
0.1 + 0.2

0.30000000000000004